{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'b-news'
] %}
{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }}>
  <div class="b-news__view">
    {{ content.field_news_image }}
  </div>
  <div class="b-news__text">
    {{ title_prefix }}
    <h3{{ title_attributes.addClass('b-news__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
    {{ title_suffix }}

    <div class="b-news__description">
      {{ content.body }}
    </div>
    <div class="b-news__info">
      <div class="b-info">
        <span class="b-info__date">{{ content.field_news_date }}</span>
        <span>&bull;</span>
        <span class="b-info__likes">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path
            d="M5 12V6.36992C5 6.13121 5.08539 5.90038 5.24074 5.71913L7.76406 2.77527C7.91381 2.60055 8.13243 2.5 8.36255 2.5C8.91291 2.5 9.29386 3.04971 9.10061 3.56503L8.50667 5.14888C8.26151 5.80263 8.74479 6.5 9.443 6.5H12.044C12.7457 6.5 13.2292 7.20398 12.9773 7.85898L11.7396 11.0769C11.294 12.2355 10.1809 13 8.9396 13H6C5.44772 13 5 12.5523 5 12Z"
            stroke="#757575"/>
        <path d="M2 7.5C2 6.94772 2.44772 6.5 3 6.5C3.55228 6.5 4 6.94772 4 7.5V12C4 12.5523 3.55228 13 3 13C2.44772 13 2 12.5523 2 12V7.5Z"
              fill="#757575"/>
        </svg>37
      </span>
        <span class="b-info__watches">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M11.9237 5.76668C11.8165 5.62003 9.26218 2.1759 5.99988 2.1759C2.73759 2.1759 0.183174 5.62003 0.0760875 5.76654C-0.0254439 5.90566 -0.0254439 6.09436 0.0760875 6.23348C0.183174 6.38013 2.73759 9.82425 5.99988 9.82425C9.26218 9.82425 11.8165 6.38011 11.9237 6.2336C12.0253 6.0945 12.0253 5.90566 11.9237 5.76668ZM5.99988 9.03305C3.59685 9.03305 1.51557 6.74712 0.899472 5.99981C1.51478 5.25185 3.5917 2.96711 5.99988 2.96711C8.40279 2.96711 10.4839 5.25264 11.1003 6.00035C10.485 6.74829 8.40806 9.03305 5.99988 9.03305Z"
                  fill="#666666"/>
            <path d="M5.99991 3.62646C4.69112 3.62646 3.62628 4.6913 3.62628 6.0001C3.62628 7.3089 4.69112 8.37374 5.99991 8.37374C7.30871 8.37374 8.37354 7.3089 8.37354 6.0001C8.37354 4.6913 7.30871 3.62646 5.99991 3.62646ZM5.99991 7.58251C5.12733 7.58251 4.41751 6.87266 4.41751 6.0001C4.41751 5.12755 5.12736 4.41769 5.99991 4.41769C6.87247 4.41769 7.58232 5.12755 7.58232 6.0001C7.58232 6.87266 6.87249 7.58251 5.99991 7.58251Z"
                  fill="#666666"/>
          </g>
        </svg>
        908 просмотров
      </span>
      </div>
    </div>
  </div>
</article>
